[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE
	branch = develop
[submodule "libs/sst-filters"]
	path = libs/sst-filters
	url = https://github.com/surge-synthesizer/sst-filters
	branch = main
[submodule "libs/sst-waveshapers"]
	path = libs/sst-waveshapers
	url = https://github.com/surge-synthesizer/sst-waveshapers
	branch = main
[submodule "libs/clap-juce-extensions"]
	path = libs/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
	branch = main
