name: Release Build - Windows 64bit

on: workflow_dispatch

permissions:
  contents: write

defaults:
  run:
    shell: pwsh

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  POWERSHELL_TELEMETRY_OPTOUT: 1

jobs:

  build:
    runs-on: windows-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: CMake
        run: Import-Module .\scripts\PowerShellScripts && 64bit && release

      - name: Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Juce Plugin
          path: "release/TestPlugin_artefacts/Release/Standalone/Test Plugin.exe"
